body {
  padding: 15px;
  background-color: #00bdaa;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}

#heading {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  text-align: center;
}
#sub-heading {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

table {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 10px;
  word-wrap: break-word;
}

tr:hover {
  cursor: default;
  font-weight: 700;
}

th {
  font-family: "Raleway", sans-serif;
  border-spacing: 0;
}

td {
  font-family: "Open Sans", sans-serif;
}

.sep {
  width: 350px;
  height: 8px;
  background-color: #fe346e;
  border: none;
  border-radius: 5px;
}

p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
