body {
  padding: 15px;
  background-color: #00bdaa;
}

#heading {
  font-family: "Lato", sans-serif;
  font-size: 48px;
}
#sub-heading {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

table {
  border: 1px solid black;
  background-color: #f1e7b6;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 10px;
}

tr:hover {
  cursor: default;
  font-weight: 700;
}

th {
  font-family: "Raleway", sans-serif;
  border-spacing: 0;
}

td {
  font-family: "Open Sans", sans-serif;
}
